form(action='' method='POST', name='login_form')
  p Your Name:
  input(type='text', size='50', value='ivan')
  p Your Surname:
  input(type='text', size='50', value='ivan')
  input(type="submit", value='Login')

