div(class='div-class') Please select an option
div(class='form-cont')
  form(method='get')
    input#name1(type="radio", name="name_1")
    label(for="name_1") Option 1
    input#name2(type="radio", name="name_2")
    label(for="name_2") Option 2
    input#name3(type="radio", name="name_3")
    label(for="name_3") Option 3
    input#name4(type="radio", name="name_4")
    label(for="name_4") Option 4
div(class='btn-class second-page') Finish
include proctoring-script.pug