html
  head
    link(rel='stylesheet' href='./styles/style.css')
    title= "PUG"
  body
    div(class='div-class') "You are in Second Page"
    div(class='div-class') "Still in Second page"
    div(class='btn-class') Get to first page